//=============================================================================
// Projet : WinSk
// Fichier : resources.rc
//
//=============================================================================

#include "resources.h"


//=============================================================================
//                          Icone de l'application
//=============================================================================

IDI_ICONE ICON DISCARDABLE "icones/winsk.ico"
IDI_CMD ICON DISCARDABLE "icones/cmd.ico"

//=============================================================================
//                              Style XP
//=============================================================================

1 24 "manifest.xml"
